@import url(./fonts.css);
:root {
    --font-primary: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1376px;
    width: 100%;
    margin: auto;
    padding: 0 12px;
}


/* header start */


/* header end */


/* membership start */


/* membership end */


/* guide start */

.guide__content {
    display: flex;
    column-gap: 326px;
}

.guide__image-image {
    padding-left: 80px;
}

.guide__desc {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.guide__desc-title {
    max-width: 225px;
    width: 100%;
    color: #692340;
    font-weight: 400;
    font-size: 112px;
    line-height: 150px;
    text-align: center;
    margin: auto;
}

.guide__desc-text {
    max-width: 450px;
    width: 100%;
    color: #692340;
    font-weight: 400;
    font-size: 39px;
    line-height: 44px;
    text-align: center;
    margin: auto;
}

.guide__desc-text2 {
    max-width: 463px;
    width: 100%;
    color: #692340;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.guide__footer {
    display: flex;
    flex-direction: column;
    row-gap: 37px;
}

.guide__footer-title {
    margin: auto;
    margin-top: 113px;
    max-width: 465px;
    width: 100%;
    font-weight: 400;
    font-size: 54px;
    line-height: 54px;
    color: #692340;
}

.guide__footer-text {
    max-width: 661px;
    width: 100%;
    color: #692340;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: auto;
}


/* guide end */


/* info start */


/* info end */


/* slider start */


/* slider end */


/* already start */


/* already end */


/* community start */


/* community end */


/* place start */


/* place end */


/* footer start */


/* footer end */